.mapHeader {
    position: relative;
    top: 5rem;
    /* left: 1rem; */
    color:black;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.map-wrapper {
    margin: 15px auto 0;
    max-width: 80%;
}

/* .map-wrapper > * {
    max-width: 90% !important;
    max-height: 45vh !important;
    margin: 0 !important;
} */