h2 {
    display: flex;
    margin: 10px 0px;
    flex-direction: column;
}

form{
    display: flex;
    margin: 10px 0px;
    flex-direction: column;
    justify-content: center;
}

label {
    margin:5px;
}
.button {
    margin-top: 10px;
}