.navbar {
	background: #555;
}

.nav-item a {
	color: #ddd;
}

.nav-item a:hover {
	color: #bbb;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.navbar-brand img {
	border: 3px solid #ccc;
}

@media (min-width: 992px) {
	.nav-item svg {
		display: none;
	}

	.nav-item a {
		font-size: 1.3rem;
	}

	.nav-item a.active {
		text-decoration: underline;
	}
}

@media (max-width: 991px) {
	.nav-item > * {
		position: relative;
		right: -10px;
	}

	.nav-item a {
		font-size: 1.1rem;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.nav-item span {
		width: 80px;
		position: relative;
		position: relative;
	}

	.nav-item a svg {
		font-size: 1.4rem;
		margin-right: 10px;
		display: flex;
	}
}