


footer{
    display:flex;
    justify-content: space-between;    
    background-color: bisque;
    align-items:center;
    padding: 10px;
    height: 50px;
      
    
}

footer p {
    margin:0
}

