html, body {
  height: 100%;
}

html {
  font-size: 85%;
  box-sizing: border-box;
}

/* .form_row {
  border-radius: 5px;
  padding: 2rem 2.75rem;
  margin-bottom: 1.75rem;
  display: grid;
  height: 5.25rem;
  transition: all 0.5s, transform 1ms;
  grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  flex-basis: 50rem;
}

.form__hidden {
  margin-top: 20px;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
} */

.form__row {
  display: flex;
  align-items: center;
 
}

.workouts {
  list-style: none;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}


img {
  max-width: 100%;
}

/*** Custom Styles ***/

/* Landing */



.main-header-text, .sub-header-text {
  color: #222;
}

.sub-header-text {
  font-size: 1.2rem;
  max-width: 60%;
  margin: 20px auto 0;
}


/*** Mobile Styles ***/

/* Landing */

@media (max-width: 850px) {
  .sub-header-text {
    max-width: 80%;
    font-size: 1.05rem;
  }
}




